//extend

%inicio{

    font-family:'Roboto' ;
    margin: 0px 3px 0px 3px;
    padding: 0;    
}

%subtitulo{

    margin-top: 50px;
    text-align: center;
    font-weight: 1200;
    font-weight: bolder;  

}